@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Condensed', sans-serif;
}

/* REGISTER PAGE  */

.register--main {
    background-image: url('../src/assets/registerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form--container {
    width: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #808080;
    border-radius: 1rem;
    padding: 30px 30px;
    gap: 1rem;
}

.logo {
    text-align: center;
    font-size: 3rem;
    color: #25316D;
    font-weight: 700;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 3px;
}

.title {
    text-align: center;
    font-size: 1rem;
    color: #808080;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #808080;
}

.form>input:focus {
    outline: none;
}

.form input::placeholder {
    font-family: 'Roboto-Condensed';
    color: #808080;
    letter-spacing: 2px;
}

.file--input {
    display: none;
}

.label--addavatar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1rem;
}

.label--addavatar span {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #808080;
}

.button {
    width: 80%;
    padding: 10px;
    color: #ffffff;
    background-color: #72bcd4;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: #347085;
    font-weight: 700;
}

.register--error {
    margin: 10px 0;
    color: red;
}

.member--login {
    text-align: center;
    font-size: 1rem;
    color: #808080;
}

/* HOME PAGE/LOGIN  */

.home {
    background-color: #72bcd4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    display: flex;
    overflow: hidden;
}

/* SIDEBAR  */

.sidebar {
    flex: 1;
    border-right: 1px solid #111;
    background-color: #25316D;
}

/* NAVBAR  */

.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #0e1b5a;
    color: #ffffff;
    padding: 10px;
    justify-content: space-between;
}

.navbar--logo {
    font-family: 'Lobster', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}

.navbar--user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar--user>img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar--user>button {
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: #72bcd4;
    cursor: pointer;
}

.navbar--user>button:hover {
    color: #ffffff;
}

/* SEARCH BAR  */

.search--form {
    padding: 10px;
}

.search--form>input {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    color: #ffffff;
    outline: none;
}

.search--form>input::placeholder {
    color: #808080;
    letter-spacing: 1px;
}

.sidebar--user--info {
    border-bottom: 1px solid #808080;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar--user--info:hover {
    background-color: #242b50;
}

.user--info {
    margin-left: 10px;
    color: #72bcd4;
    font-weight: 700;
}

.sidebar--user--info>img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}

/* OPEN CHAT  */

.openchat--user--info {}

.last--message {
    color: #ffffff;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    border: none;
}

.open--chat>.sidebar--user--info {
    border: none;
}

/* CHAT SIDE ******************************************* */

.chat {
    flex: 2;
    background-color: #5F6F94;
}

.chat--topbar {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #25316D;
}

.chat--topbar>span {
    padding: 10px;
    color: #808080;
}

/* MAIN MESSAGES AREA  */

.messages--area {
    background-color: #b6e1f0;
    padding: 10PX;
    height: calc(100% - 114px);
    overflow-y: scroll;
}

.messages {
    display: flex;
    margin: 20px 0;
}

.messageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    gap: 5px;
}

.messageInfo>img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.messageInfo>span {
    color: #808080;
    font-size: 12px;
}

.messageContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
}

.messageContent>p {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}

.messageContent>img {
    width: 50%;
}

.sender {
    flex-direction: row-reverse;
    /* border-radius: 10px 0px 10px 10px; */
}

.sender .messageContent {
    align-items: flex-end;
}

/* INPUT  */

.input {
    height: 50px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input>input {
    width: 100%;
    border: none;
    outline: none;
    color: #000000;
    font-size: 18px;
}

.input>input::placeholder {
    color: #808080;
}

.type--area--buttons {
    display: flex;
    align-items: center;
    gap: 5PX;
}

.type--area--buttons>button {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    background-color: #72bcd4;
    cursor: pointer;
    margin-left: 10px;
}

.type--area--buttons>button:hover {
    background-color: #25316D;
    color: #ffffff;
}